<!-- Navigation Bar -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
        <span class="navbar-brand">Tesoreria</span>

        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a id="homeNav" class="nav-link" href="/great-chapter">Gran Capitulo</a>
            </li>
            <li class="nav-item">
                <a id="homeNav" class="nav-link" href="/affiliations">Afiliaciones</a>
            </li>
            <li class="nav-item">
                <a id="secondNav" class="nav-link" href="/treasury">Tesoreria</a>
            </li>
            <li class="nav-item">
                <a id="thirdNav" class="nav-link" href="/change-password">Cambiar Clave</a>
            </li>

            <li class="nav-item">
                <a id="thirdNav" class="nav-link" href="/logout">Salir</a>
            </li>
        </ul>
    </div>
</nav>